* {
	box-sizing: border-box;
}

body {
	background-color: #2F4F4F;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	line-height: 1.4;
	font-size: 16px;
	margin: 0.25em;
}

main{
	margin-top:14em;

}

section {
	padding-top:5em;
	padding-bottom: 5em; 
	background-color: #2F4F4F: 
}
.container {
	max-width: 60em;
	margin: 0 auto;
}

img {
  width: 800px;
  height: 500px;
  object-fit: cover;
  align-content: center;
}

/* Typography */

<svg width="10" height="20" viewBox="0 0 443 664" fill="none" xmlns="http://www.w3.org/2000/svg">

h1{
	font-size: 4em;
	line-height: 0.95em;
	font-weight:400;
	padding-left:80px;
	padding right:80px;

}

h2 {
	font-size: 4em;
	line-height: 0.95em;
	font-weight:400;
	padding-left:80px;
	padding right:80px;

}

h3 {
	font-size: 2em;
	line-height: 0.50em;
	font-weight:400;
	padding-left:100px;
	padding right:100px;
	padding-top: 200px;
	text-align: left;

}


@media (min-width: 40em) {
	h1 {
		font-size: 4em;
		font-weight:400;
	}
}

a{
	font-size: 1.5em;
	color: inherit;
	text-decoration: none;

}

a:hover{
	text-decoration: underline;


}

/* Button */


.button {
	border:1px solid white;
	border-radius: 1.5em;
	padding: 0.5em 2em;
	background-color: #FF6600;
	transition: all 0.3s;
	display: inline-block;
	color: white;
}

.button2 {
	border:1px solid white;
	border-radius: 1.5em;
	padding: 0.5em 2em;
	background-color: #FF6600;
	transition: all 0.3s;
	display: inline-block;
	color: white;



}

.button:hover {
	text-decoration: none;
	background-color: white;
	color: #FF6600;
}

.button1:hover {
	text-decoration: none;
	background-color: white;
	color: #FF6600;
}



.button1 {
	border:1px solid white;
	border-radius: 1.5em;
	padding: 0.5em 2em;
	background-color: #FF6600;
	transition: all 0.3s;
	display: inline-block;
	color: white;



}


/* Nav */
header{
	height:14em;
	box-shadow: 0 0 2px rgba(0,0,0,0,0.5);
	top:0;
	left:0;
	width:100%;
	background-color: ;
	z-index: 2;

}

/* Nav mobile*/

header{
	position: fixed;
	top:0;
	left:0;
	background: #2F4F4F;
	width: 100%;
	height: 3em;
	box-shadow: 0 0 0px rgba(0,0,0,0.5);

}

nav {
	position: fixed;
	top:3em;
	right: -100vw;
	background; thistle;
	width: 75vw;
	min-height: calc(100vh-3em);
	text-align: center;
	padding: 1em;
	transform: translateX(0);
	transition:transform 0.5s ease;

}
.nav-open nav{
	transform:translateX(-100vw);
}

nav a {
	color: white;
	text-decoration: none;
	font-weight:lighter;
	margin: 1em 0.5em;
	line-height: 1;
}
.toggle{
	position: absolute;
	top: 0;
	right: 0;
	padding: 1em;
	line-height: 1;
	color:white;
	font-weight: lighter;
	cursor: pointer;
}



.toggle: hover{
	text-decoration: #2F4F4F;
}

nav a:hover{


text-decoration: underline;
}

/* Nav Desktop */
@media (min-width: 700px) {
	nav
	{
		top: 0;
		right:0;
		width: auto;
		min-height: 3em;
		display: flex;
		flex-wrap: nowrap;
		align-content: center;
		background: none;
		transform: translateX(0);

	}
	.nav-open nav{
		transform: translateX(0);
	}

	nav a {
		margin: 0 0.5em;
		color: white;
	}

	.toggle {
		display:none;
	}
}

/* Banner */
.home-banner{
		background-image:  url(img/rectangle 42.jpg);
		img {
	  width: 50px;
	  height: 30px;
	  background-position: center;
		background-size; cover;
		min-height:  calc(100vh-14em);
		display:grid;
		grid-template-columns: 100%;

}


.container{
	max-width: 60em;
}
.rectangle {
	height: 50px;
	width:500px;
	background-color: #FF6600
	padding-top:1000px;
}


